Cython==0.28.5
Flask==2.0.1
gunicorn==20.1.0
ipython
Jinja2==3.0.1
joblib==1.0.1
jupyter==1.0.0
jupyter-client==7.0.1
jupyter-console
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
matplotlib==3.4.2
matplotlib-inline==0.1.2
notebook==6.4.3
numpy==1.21.1
pickleshare==0.7.5
pipreqs==0.4.1
prompt-toolkit
qtconsole==5.1.1
QtPy==1.10.0
requests==2.26.0
scikit_learn==0.22.2.post1
webencodings==0.5.1
